*,
::after,
::before {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    font-family: "Lobster", cursive;
}

body {
    font-style: normal;
}

.container_portada {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    bottom: 0;
    left: 0;
}

.container__text {
    width: 100%;
    position: relative;
    color: white;
    font-size: 2.5rem;
    padding-top: 35%;
    margin: 0 35%;
    font-family: "Parisienne", cursive;
}

.nosotros {
    width: 100%;
    font-family: "Parisienne", cursive;
    position: absolute;
    color: white;
    font-size: 2rem;
    margin: 0 40%;
}

.nosConocimos {
    margin-top: 20%;
    font-family: "Parisienne", cursive;
    color: rgba(23, 22, 22, 0.676);
    border-bottom: 5px double #e6ae92;
    border-top: 5px double #e6ae92;
    width: 100%;
    padding: 5%;

}

.text {
    font-size: 2rem;
}

.countdown {
    border-bottom: 5px double #e6ae92;
    font-size: 1.3rem;
    color: rgba(23, 22, 22, 0.676);
    font-family: "Parisienne", cursive;
    margin: 0;
}

.ptext {

    text-align: center;
}

.center-abs {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chart {
    position: relative;
    width: 25%;
    height: 150px;
    display: fl;
}

.chart h3 {
    color: #fff;
    font-size: 0.7em;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 10px #000;
}

.chart svg {
    z-index: 2;
}

/* DIV CIRCULO DE FONDO */
.circle {
    width: 65px;
    height: 80px;
    border-radius: 50%;
    z-index: 1;
    border: 2px #e6ae92 solid;
    justify-content: space-between;
}

.text {
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

/* SVG CIRCULO */
.outer {
    fill: transparent;
    stroke: #e6ae927b;
    stroke-width: 10;
    /* grosor del borde */
    stroke-dasharray: 439;
    /* numero de relleno del borde, se usa el mismo valor en el script.js */
    transform: rotate(270deg) translate(-150px, 0);
    /* giramos el circulo para que su apertura sea en la parte superior 
    y ajustamos su posicion
    */
}

.invitacion {

    font-family: "Parisienne", cursive;
    color: rgba(23, 22, 22, 0.676);
    border-bottom: 5px double #e6ae92;
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 5%;

}

iframe {
    width: 300px;
    height: 250px;
    border: 5px solid rgba(7, 7, 7, 0.035);
}

.ubicacion {
    text-align: center;
    font-size: 1em;
}

.asistencia {
    font-family: "Parisienne", cursive;
    color: rgba(23, 22, 22, 0.676);
    border-bottom: 5px double #e6ae92;
    width: 100%;
    height: min-content;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    padding: 5%;
}

.confirmacion {
    color: #e6ae92;
}

label {
    display: block;
}

textarea {

    font-family: "Parisienne", cursive;
    color: rgba(23, 22, 22, 0.676);
    border: 1px double #e6ae92;
    padding-left: 5%;
    height: min-content;
    margin: 0 auto;
}

input {
    font-family: "Parisienne", cursive;
    color: rgba(23, 22, 22, 0.676);
    border: 1px double #e6ae92;
    padding-left: 5%;
    height: min-content;
    margin: 0 auto;
}

.enviar {
    background-color: #e6ae92;
    text-align: center;
    cursor: pointer;
}

.despedida {

    width: 100%;
    height: 300px;
    margin-top: 2.5%;
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
    pointer-events: none;
}

/* .container_portada {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    bottom: 0;
    left: 0; */
/* } */

.footer {
    font-size: 1rem;
    display: flex;
    border-radius: 50%;
    text-align: center;
    color: #ffb18a;
    justify-content: center;
    align-content: center;
    transition: all 0.3s;
    padding-top: 2px;
}

.despedida__nosotros {
    width: 100%;
    position: relative;
    color: white;
    font-size: 2.5rem;
    padding-top: 65%;
    margin: 0 30%;
    font-family: "Parisienne", cursive;
}

.despedida__text {
    width: 100%;
    font-family: "Parisienne", cursive;
    position: absolute;
    color: white;
    font-size: 2rem;
    margin: 0 35%;
}

@media (min-width: 750px) {
    .container__text {
        font-size: 5rem;
        width: 100%;
    }



    .nosotros {
        font-size: 4rem;
    }

    .text {
        font-size: 3rem;
    }

    .countdown {
        font-size: 3rem;

    }



    .center-abs {
        top: 25%;
        left: 50%;


    }



    .chart {

        width: 25%;
        height: 250px;
    }


    .circle {
        width: 162px;
        height: 200px;

    }


    .invitacion {

        font-family: "Parisienne", cursive;
        color: rgba(23, 22, 22, 0.676);
        border-bottom: 5px double #e6ae92;
        width: 100%;
        height: min-content;
        margin: 0;
        padding: 5%;

    }

    iframe {
        width: 700px;
        height: 500px;
        /*Sólo para que se vea, ya que la dirección al parecer está mal*/
        border: 5px solid rgba(7, 7, 7, 0.035);
    }

    .ubicacion {
        text-align: center;
        font-size: 3em;
    }

    .asistencia {
        font-size: 2rem;
    }

    label {
        font-size: 2.5rem;
    }



    textarea {
        width: 700px;
        height: 300px;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.823);

        font-family: "Parisienne", cursive;
        color: rgba(23, 22, 22, 0.676);
        border: 1px double #e6ae92;
        padding-left: 5%;
        height: min-content;
        margin: 0 auto;
    }

    input {
        width: 700px;
        height: 50px;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.823);

    }

    .enviar {
        background-color: #e6ae92;
        text-align: center;
        cursor: pointer;
    }

    .despedida {

        width: 100%;
        height: 300px;
        margin-top: 2.5%;
        position: relative;
        z-index: 0;
        pointer-events: none;
        margin-bottom: 600px;
    }

    .footer {
        font-size: 1.5rem;
        display: flex;
        border-radius: 50%;
        text-align: center;
        color: #ffb18a;
        justify-content: center;
        align-content: center;
        transition: all 0.3s;
    }

    .despedida__nosotros {
        font-size: 5rem;
    }

    .despedida__text {

        font-size: 4rem;
        margin: 0 35%;
    }

}


@media (max-width: 280px) {
    .nosotros {
        font-size: 20px;
    }

    .container__text {
        font-size: 27px;
    }

    iframe {
        width: 200px;
        height: 100px;
        border: 5px solid rgba(7, 7, 7, 0.035);
    }

    .despedida {
        margin-bottom: -53px;
    }

    .despedida__nosotros {
        font-size: 2rem;
    }

    .despedida__text {

        font-size: 1.5rem;
        margin: 0 35%;
    }
}

@media (min-width: 750px) {
    .container__text {
        font-size: 5rem;
        width: 100%;
    }



    .nosotros {
        font-size: 4rem;
    }

    .text {
        font-size: 3rem;
    }

    .countdown {
        font-size: 3rem;

    }



    .center-abs {
        top: 25%;
        left: 50%;


    }



    .chart {

        width: 25%;
        height: 250px;
    }


    .circle {
        width: 162px;
        height: 200px;

    }


    .invitacion {

        font-family: "Parisienne", cursive;
        color: rgba(23, 22, 22, 0.676);
        border-bottom: 5px double #e6ae92;
        width: 100%;
        height: min-content;
        margin: 0;
        padding: 5%;

    }

    iframe {
        width: 700px;
        height: 500px;
        /*Sólo para que se vea, ya que la dirección al parecer está mal*/
        border: 5px solid rgba(7, 7, 7, 0.035);
    }

    .ubicacion {
        text-align: center;
        font-size: 3em;
    }

    .asistencia {
        font-size: 2rem;
    }

    label {
        font-size: 2.5rem;
    }



    textarea {
        width: 700px;
        height: 300px;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.823);

        font-family: "Parisienne", cursive;
        color: rgba(23, 22, 22, 0.676);
        border: 1px double #e6ae92;
        padding-left: 5%;
        height: min-content;
        margin: 0 auto;
    }

    input {
        width: 700px;
        height: 50px;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.823);

    }

    .enviar {
        background-color: #e6ae92;
        text-align: center;
        cursor: pointer;
    }

    .despedida {

        width: 100%;
        height: 300px;
        margin-top: 2.5%;
        position: relative;
        z-index: 0;
        pointer-events: none;
        margin-bottom: 600px;
    }

    .footer {
        font-size: 1.5rem;
        display: flex;
        border-radius: 50%;
        text-align: center;
        color: #ffb18a;
        justify-content: center;
        align-content: center;
        transition: all 0.3s;
    }

    .despedida__nosotros {
        font-size: 5rem;
    }

    .despedida__text {

        font-size: 4rem;
        margin: 0 35%;
    }

}
@media (min-width: 1300px) {
    .container__text {
        font-size: 7rem;
        width: 100%;
    }



    .nosotros {
        font-size: 6.5rem;
    }

    .text {
        font-size: 5rem;
    }

    .countdown {
        font-size: 5rem;

    }



    .center-abs {
        top: 25%;
        left: 50%;


    }



    .chart {

        width: 25%;
        height: 400px;
    }


    .circle {
        width: 243px;
        height: 300px;

    }


   

    iframe {
        width: 1100px;
        height: 800px;
        /*Sólo para que se vea, ya que la dirección al parecer está mal*/
        border: 5px solid rgba(7, 7, 7, 0.035);
    }

    .ubicacion {
        text-align: center;
        font-size: 5em;
    }

    .asistencia {
        font-size: 4rem;
    }

    label {
        font-size: 4.5rem;
    }



    textarea {
        width: 1100px;
        height: 300px;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.823);

        font-family: "Parisienne", cursive;
        color: rgba(23, 22, 22, 0.676);
        border: 1px double #e6ae92;
        padding-left: 5%;
        height: min-content;
        margin: 0 auto;
    }

    input {
        width: 1100px;
        height: 80px;
        font-size: 4.5rem;
        color: rgba(0, 0, 0, 0.823);

    }

    .enviar {
        background-color: #e6ae92;
        text-align: center;
        cursor: pointer;
    }

    .despedida {

        width: 100%;
        height: 300px;
        margin-top: 4.5%;
        position: relative;
        z-index: 0;
        pointer-events: none;
        margin-bottom: 600px;
    }

    .footer {
        font-size: 1.5rem;
        display: flex;
        border-radius: 50%;
        text-align: center;
        color: #ffb18a;
        justify-content: center;
        align-content: center;
        transition: all 0.3s;
    }

    .despedida__nosotros {
        font-size: 7rem;
    }

    .despedida__text {

        font-size: 6rem;
        margin: 0 32%;
    }

}